@font-face {
    font-family: Azonix;
    src: url(Azonix.otf)
}
html {
    min-height: 100vh;
}

body{
    padding: 0;
    margin: 0;
    background-image: url(background.png);
    background-size:cover;
    background-position: center;
}
header {
    padding: 0;
    margin: 0;
    border-style:ridge;
    border-color: white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: black;
}

.navbar {
    min-height: 60px;
    max-height: 5%;
    width: 80%;
    display: flex;
    flex-flow: row;
    margin-left: 10%;
}

.navButton {
    width: 20%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.navButton:hover{
    background-color: white;
}

.navButton:hover a{
    color: black;
}

.navButton a {
    color: white;
    font-family: Azonix;
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sidebar {
    min-height: 100%;
    width: 25%;
}

.mainbar {
    min-height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container {
    background-color: white;
    border-radius: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.container h1 {
   margin: 0;
   margin-top: 10px;
   font-size: 40px;
   font-family: Azonix;
}

.container h2 {
    margin-left: 20px;
    margin-right: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container a {
    color: black;
}

.content {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    width: 100%;
}

.marginDiv {
    display: flex;
    min-height: 50px;
    max-height: 100px;
    width: 100%;
}

footer {
    border-style:ridge;
    border-color: white;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    background-color: black;
    bottom: 0;
}

.footerContent {
    min-height: 60px;
    max-height: 5%;
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footerContent p1 {
    color: white;
    margin-left: 10px;
}

#loader-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: white;
}

#loader-wrapper p {
    position: relative;
    width: 200px;
    height: 50px;
    top: calc(50% - 75px);
    left: 50%;
    margin: 0 0 0 -100px;
    padding: 0;
    text-align: center;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3458db;

    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader::before{
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent; 
    border-top-color: #e743c3;

    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader::after{
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;

    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

